* { margin: 0; 
    box-sizing: border-box; 
}

#app {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #f3ca40;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    align-items: flex-end;
}

#header h1{
    padding-left: 1.5%;
    font-size: 3em;
}

#nav {
    background-color: #4b4e6d;
    font-size: 1.5em;
}

#nav a {
    padding-left: 2%;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

#footer {
    background-color: #f3ca40;
    font-size: 1em;
    font-weight: 300;
    padding-right: 2%;
    text-align: right;
}

#albums {
    margin: 10px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "img1 img2 img3 img4 img5" 
    "img6 img7 img8 img9 img10" 
    "img11 img12 img13 img14 img15"
    ;
}

#photo1 {
    grid-area: img1;
}

#photo2 {
    grid-area: img2;
}

#photo3 {
    grid-area: img3;
}

#photo4 {
    grid-area: img4;
}

#photo5 {
    grid-area: img5;
}

#photo6 {
    grid-area: img6;
}

#photo7 {
    grid-area: img7;
}

#photo8 {
    grid-area: img8;
}

#photo9 {
    grid-area: img9;
}

#photo10 {
    grid-area: img10;
}

#photo11 {
    grid-area: img11;
}

#photo12 {
    grid-area: img12;
}

#photo13 {
    grid-area: img13;
}

#photo14 {
    grid-area: img14;
}

#photo15 {
    grid-area: img15; 
}

#albums img {
    width: 280px;
    height: 350px;
    border: 2px solid black ;
}


/* table version */

@media(min-width:701px) and (max-width:1100px) {
    #middle {
        flex-direction: column;
    }
    #nav {
        width: 100vw;
    }
    #albums {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9"
        "img10 img11 img12"
        "img13 img14 img15"
        ;
    }
}


/* mobile version*/

@media(max-width:700px) {
    #header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #nav {
        text-align: center;
    }
    #albums {
        text-align: center;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 
        1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img1"
        "img2" 
        "img3" 
        "img4" 
        "img5" 
        "img6"
        "img7" 
        "img8" 
        "img9" 
        "img10" 
        "img11" 
        "img12" 
        "img13" 
        "img14" 
        "img15"
        ;
    }
}